@font-face {
    font-family: 'tac';
    src: url(../font/TicTacToe.ttf);
}
.container {
    flex: 1;
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    align-items: center;
    justify-items: center;
    background-color: #dddcdcbc;
    font-family: tac, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #000000;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.board-container {
    width: 100%;
    max-width: 500px;
    height: 80%;
    max-height: 500px;
}

.result {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    height: 27.6px;
    transition: all 0.2s ease-in-out;
}

.win{
    background-color: #dddcdcbc;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(3, calc(100% / 3));
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    font-size: 4rem;
}

.board div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-bottom: 3px dashed #000000;
    border-right: 3px dashed #000000;
}

.board div:hover {
    background-color: #dddcdcbc;
}

#square6, #square7, #square8 {
    border-bottom: none;
}

#square2, #square5, #square8 {
    border-right: none;
}

footer{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: sticky;
    bottom: 0;
}

footer [src="./img/github.svg"]{
    width: 2rem;
    height: auto;
    filter: invert(0.5);
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #000;
    text-decoration: underline;
}

footer a:focus [src="./img/github.svg"],
footer a:hover [src="./img/github.svg"] {
    filter: invert(0);
}

footer a:focus {
    color: #3E75C3;
}

footer a {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: rgb(51, 51, 51);
}
